---
import IconPin from './icons/IconPin.astro';
import { Image } from 'astro:assets';
import altiplanoBolivia from '../assets/heroes/altiplano-bolivia.jpg';
import salarDeUyuniBolivia from '../assets/heroes/salar-de-uyuni-bolivia.jpg';
import highAtlasMountainsMorocco from '../assets/heroes/high-atlas-mountains-morocco.jpg';
import centralAfricanRepublic from '../assets/heroes/central-african-republic.jpg';
import saharaDesertMauritania from '../assets/heroes/sahara-desert-mauritania.jpg';
import marienflussValleyNamibia from '../assets/heroes/marienfluss-valley-namibia.jpg';
import type { ImageMetadata } from 'astro';
import Icon from './Icon.astro';

type Hero = {
  title: string;
  image: ImageMetadata;
  coordinates: number[];
  position?: string;
  loaded?: boolean;
};

const heroes: Hero[] = [
  {
    title: 'Altiplano, Bolivia. 4,523 masl.',
    image: altiplanoBolivia,
    coordinates: [-22.11374, -67.65743],
    position: '50% 54%',
  },
  {
    title: 'High Atlas Mountains, Morocco',
    image: highAtlasMountainsMorocco,
    coordinates: [31.74369, -5.68674],
    position: '50% 56%',
  },
  {
    title: 'The Sahara Desert, Mauritania',
    image: saharaDesertMauritania,
    coordinates: [21.06086, -16.33756],
    position: '50% 53%',
  },
  {
    title: 'Central African Republic (CAR)',
    image: centralAfricanRepublic,
    coordinates: [2.78624, 16.20015],
    position: '50% 41%',
  },
  {
    title: 'Salt Desert of Uyuni, Bolivia',
    image: salarDeUyuniBolivia,
    coordinates: [-20.34615, -67.58564],
    position: '50% 67%',
  },
  {
    title: 'Marienfluss Valley, Namibia',
    image: marienflussValleyNamibia,
    coordinates: [-17.67668, 12.64643],
    position: '50% 48%',
  },
];
---

<header class="w-full shrink-0 grow-0">
  <div class="swiper min-h-[300px] w-full h-[50vh] bg-gray-100">
    <div class="swiper-wrapper">
      {
        heroes.map((hero) => {
          return (
            <div class="swiper-slide">
              <Image
                src={hero.image}
                alt={hero.title}
                widths={[1024, 1280, 1600, hero.image.width]}
                class="absolute top-0 left-0 w-full h-full object-cover"
                style={`object-position: ${hero.position ? hero.position : 'center'}`}
              />
              <div
                class={`absolute max-lg:top-0 lg:bottom-0 right-0 m-2 md:m-3 p-1 bg-black bg-opacity-25 text-xs sm:text-sm font-mono text-gray-200 md:text-white z-10`}
              >
                <IconPin class="inline-block mb-1" title="Location" />
                <>
                  <a
                    href={`https://www.google.com/maps?t=k&q=${hero.coordinates.join(',')}`}
                    class="text-inherit font-normal no-underline"
                    title="Show location on the map"
                  >
                    <span class="hover:underline">
                      LAT {hero.coordinates[0]}, LON {hero.coordinates[1]}
                    </span>
                  </a>
                  <br />
                </>
                <span set:html={hero.title} />
              </div>
            </div>
          );
        })
      }
    </div>
    <a
      href="#"
      title="Show next photo"
      class="swiper-button-next absolute bottom-4 lg:top-3 right-3 h-8 w-8 items-center justify-center group z-10 hover:scale-125 duration-100"
    >
      <Icon
        type="Camera"
        showName={false}
        width="32"
        height="32"
        title="Show next photo"
      />
    </a>
  </div>
</header>

<style>
  @supports (height: 50svh) {
    .swiper {
      height: 50svh;
    }
  }

  .swiper-slide-active img {
    animation: 60s linear hero-zoom infinite;
  }

  @keyframes hero-zoom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
</style>

<script>
  import Swiper from 'swiper';
  import 'swiper/css';
  import { Keyboard, Navigation } from 'swiper/modules';

  new Swiper('.swiper', {
    loop: true,
    spaceBetween: '10%',
    keyboard: true,
    modules: [Navigation, Keyboard],
    navigation: {
      nextEl: '.swiper-button-next',
    },
  });
</script>
